<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <center>
        {% if request.user.bought_subscription == True %}
        <span>{{ time }} days left to Deactivate Premium Version</span>
        {% endif %}
    </center>
    <center>
        <form action="/buy-30days-sub" method="post">
            {% csrf_token %}
            <button type="submit">Buy 30 days Subscription</button>
        </form>
    </center>
</body>
</html>