<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center>
        {% if not request.user.is_authenticated %}
        <a href="/register"><button>Register</button></a><br>
        <a href="/login"><button>Login</button></a><br>
        {% else %}
        {% if request.user.free_trial == True %}
        <span style="color: red;">Your Account is Using Free Trial Version</span><br>
        {% endif %}
        {% if request.user.bought_subscription == True %}
        <span style="color: gold;">Your Account is Premium Now</span><br>
        {% endif %}
        <a href="/dashboard"><button>Dashboard</button></a><br>

        <a href="/logout"><button>Logout</button></a>
        {% endif %}
    </center>
</body>
</html>