<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>

<body>
    <center>
        <div>
            <form action="/login" method="post">
                {% csrf_token %}
                <label for="username">Username</label><br>
                <input type="text" id="username" placeholder="enter Username" name="username"><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" placeholder="enter Password" name="password"><br>
                <button type="submit">Login</button>
            </form>
        </div>
    </center>
</body>

</html>